@import "./sass/_variables.scss";

.todo-app {
  text-align: center;
  color: $dark-gray-color;
}

.todo-app-header {
  background-color: $dark-gray-color;
  color: $white-color;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}