@import "../../sass/_variables.scss";

.message {
  width: 50vw;
  left: calc(50% - 25vw);
  position: absolute;
  padding: 1em 2em 1em 1em;
  box-sizing: border-box;
  border-radius: 10px 0 50px 0;
  box-shadow: 3px 3px 5px $dark-gray-color;
}

.api-message {
  bottom: 2.5vh;
  background-color: $baby-blue-color;
}