@import "../../sass/_variables.scss";

.empty-tasks {
  height: 85vh;
  width: 100%;

  .empty-tasks--message {
    top: calc(50%);
    background-color: lighten($baby-blue-color, 15%);
    color: $dark-gray-color;
  }
}